{% extends "model-page.html" %}

{% block content %}
    <h2>Agendamentos</h2>
    <a href="evento/">
        <button type="button">New Evento</button>
    </a>
    <ul style="font-size: 18px;">
        {% for evento_name in evento %}
        <li>
            {{evento_name.titulo}} - {{evento_name.get_date_evento}}
             ( <a href="evento/?id={{ evento_name.id }}">Editar</a> / 
             <a href="evento/delete/{{ evento_name.id }}/">Excluir</a> )
        </li>
        {% endfor %}
    </ul>
{% endblock %}
